.container {
  border: 1px solid black;
  border-top: 0;
  height: 100px;
  background-color: gray;
}
.list {
  height: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
  list-style: none;
}
.list li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  padding-left: 0;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.list li div {
  padding: 15px;
  border-left: 1px solid black;
}
.list li:hover {
  font-size: 1.5em;
  /* background-color: #eee; */
}
